@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Roboto&family=Sawarabi+Gothic&display=swap');

:root {
  --primary: #00bf4f;
  --text-link: var(--cyan-9);
  --text-high: rgb(26 21 35 / 100%);
  --text-low: rgb(111 110 119 / 100%);
}
