.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.title {
  font-weight: 700;
  font-size: xxx-large;
  text-align: left;
  color: var(--text-high);
}

.caption {
  color: var(--text-link);
}
