.caption-link {
  color: var(--text-link);
}

.underline {
  border-bottom: 1px solid #9bdfaa;
}

.arrow {
  width: 8px;
  height: 40px;
  border-right: 1px solid #9bdfaa;
  border-bottom: 1px solid #9bdfaa;
  transform: skew(0, 45deg);
}

.arrow::before {
  width: 100px;
  height: 0;
  border: 2px solid #9bdfaa;
}
